.game {
  height: 100vh;
  background: rgb(0, 0, 0);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.score {
  font-size: large;
  font-weight: lighter;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.score p {
  text-align: center;
  font-size: 22px;
}

.intro {
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease-in;
}

.intro h1 {
  font-size: 50px;
}

.intro button,
.options button {
  background: none;
  background: rgb(113, 235, 235);
  border-radius: 4px;
  border: none;
  font-size: 18px;
  width: 150px;
  height: 50px;
  color: rgb(99, 99, 99);
  transition: ease-in-out 0.2s;
}

.play:hover {
  box-shadow: 1px 1px 4px 1px whitesmoke;
  color: whitesmoke;
}

.options button:hover {
  box-shadow: 1px 1px 4px 1px whitesmoke;
  color: whitesmoke;
  transition: ease-in-out 0.2s;
}

.match {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in 0.5s;
}

.pointer {
  max-height: 15vh;
  font-size: 50px;
  text-align: center;
}

.hands,
.options,
.play-again {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-hand {
  transform: rotateY(180deg);
}

div.fadeIn {
  opacity: 1 !important;
  pointer-events: all !important;
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.disableButtons {
  opacity: 0;
  pointer-events: none;
}

.play-again button {
  visibility: hidden;
  background: none;
  background: rgb(113, 235, 235);
  border-radius: 4px;
  border: none;
  font-size: 18px;
  width: 150px;
  height: 50px;
  color: rgb(99, 99, 99);
}

@keyframes playerShake {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-50px);
  }
  30% {
    transform: translateY(0px);
  }
  45% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes computerShake {
  0% {
    transform: translate(0px);
  }
  15% {
    transform: translateY(-50px);
  }
  30% {
    transform: translateY(0px);
  }
  45% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes popInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
